extends ./template.pug

block content
	.row
		.col-md-12
			.card.card-stats
				.card-body
					.row
						.col-md-3
							.statistics
								.info
									.icon.icon-primary
										i.now-ui-icons.ui-2_chat-round
									h3.info-title 859
									h6.stats-title Issues
						.col-md-3
							.statistics
								.info
									.icon.icon-success
										i.now-ui-icons.business_money-coins
									h3.info-title
										small $
										| 3,521
									h6.stats-title Revenue this Month
						.col-md-3
							.statistics
								.info
									.icon.icon-info
										i.now-ui-icons.users_single-02
									h3.info-title 562
									h6.stats-title Lessees
						.col-md-3
							.statistics
								.info
									.icon.icon-danger
										i.now-ui-icons.objects_support-17
									h3.info-title 353
									h6.stats-title Staffs
	.row
		.col-md-12
			.card
				.card-header
					h4.card-title  Best Selling Products
				.card-body
					canvas#myChart
block contentScript
	script(src='/assets/plugins/js/Chart.js')
	script.
		$(document).ready(function(){
			var auth = !{JSON.stringify(query)}
			if(typeof auth.unauthorized != 'undefined'){
				swal({
					title: `Unauthorized Access`,
					text: `Sorry you cannot access that page`,
					type: 'error'
				})
			}
			//- var myChart = new Chart( $('#myChart'), {
			//- 	type: 'line',
			//- 	data: {

			//- 	}
			//- })
		})