extends ./template.pug

block content
	.row
		.col-md-12
			.card
				.card-header
					h4.card-title Lessee
				.card-body
					.toolbar
						button.btn.btn-round.btn-success + Add Account
					br
					table#lesseeTable.table.table-bordered.table-striped(cellspacing='0')
						thead
							tr
								th ID
								th Name
								th Address
								th Phone
								th Lessee Type
								th Action
						tbody
							tr
								td 2019-00001-I
								td Gramar Lacsina
								td 2647 Road 6 corner Road 9 Sta.Ana, Manila
								td 09080876482
								td Individual
								td
									a.btn.btn-round.btn-warning.btn-icon(href='#')
										i.now-ui-icons.design_scissors
									a.btn.btn-round.btn-danger.btn-icon(href='#')
										i.now-ui-icons.ui-1_simple-remove

block contentScript
	script.
		$(document).ready(function(){
			$('#lesseeTable').dataTable()
		})
