extends ./template.pug

block content
	.row
		.col-md-12
			.card
				.card-header
					h4.card-title Utilities Bills
				.card-body
					.toolbar
						button.btn.btn-round.btn-success(data-toggle='modal' data-target='#addStaffModal') + Add Bill for this Month
					br
					h5 Water Bills
					table#waterTable.table.table-bordered.table-striped(cellspacing='0')
						thead
							tr
								th Bill Date
								th Amount Due
								th Cubic Meter Used
								th Due Date
	//MODALS
	#addStallModal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
		.modal-dialog(role='document')
			.modal-content
				.modal-header
					h5.modal-title Bill for this Month
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') ×
				form#addStallForm(method='POST' action='/admin/addstall')
					.modal-body
							.form-group
								label Stall ID
									small.text-danger  *
								input.form-control(type='text' name='stallId' placeholder='Enter Stall ID')
							.form-group
								label Stall Type
									small.text-danger  *
								.form-check.form-check-radio
									label.form-check-label
										input.form-check-input(type='radio', name='stallType', value='0' checked)
										| Food Stall
										span.form-check-sign
								.form-check.form-check-radio
									label.form-check-label
										input.form-check-input(type='radio', name='stallType', value='1')
										| Dry Goods Stall
										span.form-check-sign
					.modal-footer
						button#addStallSave.btn.btn-primary(type='submit') Save
block contentScript
	script.
		$(document).ready(function(){
			$('#waterTable').dataTable();
		})
			