//- This now serves as the base template, even for the master

html
    head
        // This is the title of the page. Pretty basic.
        title Now UI Dashboard

        // Here we import the asset files such as Bulma and FontAwesome.
        // You can use this out of the box. This btw, is an HTML comment
        // in Pug. This will appear in your browser when you render the
        // HTML.
        link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700,200', rel='stylesheet')
        link(href='https://use.fontawesome.com/releases/v5.0.6/css/all.css', rel='stylesheet')
        link(rel="stylesheet", href='/assets/now-ui-admin/css/bootstrap.min.css')
        link(rel="stylesheet", href='/assets/now-ui-admin/css/now-ui-dashboard.min.css')
        block headAddOns

    body
        block body